$gold: #c79316;

:host{
  width: calc(100% - 1000px);
  background-color: orange;
  height: 100%;
}

ngx-carousel {
  flex: 1;

  ngx-item {
    img,
    video {
      width: 100%;
      height: auto;
    }
  }

  button {
    display: none !important;
  }
}


///deep/ ngx-carousel ngx-item img, ngx-carousel ngx-item video {
//  height: 1568px !important;
//  width: auto !important;
//}


//
///deep/ .carouselCaption {
//  font-family: "Segoe UI Light" !important;
//  position: relative;
//  background: rgba(6,6,6,0.78);
//  width: 100%;
//  padding: 0;
//  text-align: center;
//  color: white;
//  font-size: 26px;
//  margin: 0 auto;
//  bottom: 66px;
//  display: flex;
//  flex-direction: row;
//  align-items: center;
//  justify-content: center;
//  height: 60px;
//
//  .caption {
//    margin-top: -5px;
//  }
//
//  .action-button {
//    display: flex;
//    flex-direction: row;
//    justify-content: space-evenly;
//    bottom: 0;
//    right: 62px;
//    height: 60px;
//    width: 100px;
//    background-color: rgba(6, 6, 6, 0);
//    color: $gold;
//    border-radius: 7px;
//    margin-left: 10px;
//    text-align: center;
//    cursor: pointer;
//    font-weight: 300;
//    pointer-events: auto;
//    margin-top: -5px;
//
//    mat-icon {
//      font-size: 36px;
//      line-height: 60px;
//      height: 60px;
//      width: 36px;
//    }
//
//    .label {
//      line-height: 60px;
//      /*font-family: Segoe UI Light !important;*/
//      font-size: 24px !important;
//    }
//  }
//
//}
