:host{
  width: 100%;
  height: 50px;
  background-color: red;

  .rss-feed-ticker{
    width: calc(100% - 220px);
    background-color: #00a1d2;
  }

  .language-buttons{
    width: 700px;
    background-color: thistle;
    padding: 10px;
    box-sizing: border-box;
    display: flex;

    button:first-child{
      margin-right: 10px;
    }

    button{
      width: 320px;
      height: 100%;
      font-size: 48px;

      mat-icon{
        font-size: 48px;
        width: 48px;
        height: 48px;
        margin-right: 10px;
      }
    }
  }
}
